### MEMCACHED ###########################################################################################################

MEMCACHED_VERSION=1.5.1
MEMCACHED_SHA1=e5b7e4e562eb99fdfa67d71697cc6744d3e9663f
ZABBIX_HOSTNAME=memcached-app