### CRANE ############################################################################################################

# app global env
CRANE_ENV=.crane-env 
# CRANE_PREFIX=""
# CRANE_EXCLUDE=""
# CRANE_ONLY=""
# CRANE_CONFIG=""
# CRANE_HOOKED_CONTAINER=""
# CRANE_TAG=""

### vcs info
CRANE_VCS_URI="github.com/michaelsauter/crane"
CRANE_VCS_BRANCH="master"
CRANE_VCS_DEPTH=1

# BUILD_DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
# printenv | grep CRANE_

############################
# General APK deps lists
############################

### Golang 1.8
APK_BUILD_GOLANG="go git openssl ca-certificates libssh2 make"
APK_BUILD_GOLANG_CGO="gcc g++ musl-dev cmake"
APK_BUILD_GOLANG_TOOLS="go-tools"
APK_BUILD_GOLANG_CROSS=""
# go-cross-windows go-cross-freebsd go-cross-openbsd go-cross-darwin