### NODEJS ###########################################################################################################

# ref. https://hub.docker.com/r/mhart/alpine-node/

# available versions: v8, v6, v4, v0.12, v0.10 ( warning ! working without the 'v' prefix)
NODEJS_VERSION=8
NODEJS_HELPER_NPM=True
NODEJS_HELPER_YARN=True