### GOLANG ###########################################################################################################

GOLANG_VERSION=1.9
GOLANG_HELPER_GLIDE=True
GOLANG_HELPER_GOX=True
GOLANG_HELPER_DEPS=True