### SETOOLKIT ##########################################################################################################

## #################################
## app vars
## #################################

SETOOLKIT_VERSION=7.7.1

## #################################
## env vars
## #################################

SETOOLKIT_PY_VERSION_MAJOR=2
SETOOLKIT_PY_VERSION_MINOR=7
SETOOLKIT_PY_VERSION="${SETOOLKIT_PY_VERSION_MAJOR}.${SETOOLKIT_PY_VERSION_MINOR}"

## #################################
## custom packages
## #################################

APK_BUILD_CUSTOM="	musl-dev gcc linux-headers \
					python${SETOOLKIT_PY_VERSION_MAJOR}-dev
					py${SETOOLKIT_PY_VERSION_MAJOR}-pexpect \
                    py${SETOOLKIT_PY_VERSION_MAJOR}-pefile \
                    py${SETOOLKIT_PY_VERSION_MAJOR}-openssl \
                    py${SETOOLKIT_PY_VERSION_MAJOR}-cryptography"

APK_RUNTIME_CUSTOM="bash apache2 php5-apache2 apache2 apache2-ssl py${SETOOLKIT_PY_VERSION_MAJOR}-requests"
APK_INTERACTIVE_CUSTOM="jq"

## #################################
## common packages
## #################################

APK_BUILD_COMMON="git coreutils gcc g++ musl-dev make openssl-dev libssh2-dev"
APK_RUNTIME="ca-certificates libssh2 openssl"
APK_INTERACTIVE="nano bash tree"
