### MAGPIE ##############################################################################################################

## #################################
## app vars
## #################################

MAGPIE_VERSION=1.1.8
MAGPIE_USER="sqlmap"

## #################################
## env vars
## #################################

MAGPIE_PY_VERSION_MAJOR=2
MAGPIE_PY_VERSION_MINOR=7
MAGPIE_PY_VERSION_PATCH=4
MAGPIE_PY_VERSION="${MAGPIE_PY_VERSION_MAJOR}.${MAGPIE_PY_VERSION_MINOR}.${MAGPIE_PY_VERSION_PATCH}"

## #################################
## custom packages
## #################################

MAGPIE_APK_RUNTIME_CUSTOM=""
MAGPIE_APK_RUNTIME_CUSTOM="bash"
MAGPIE_APK_INTERACTIVE_CUSTOM="jq"

## #################################
## common packages
## #################################

MAGPIE_APK_BUILD_COMMON="git coreutils gcc g++ musl-dev make openssl-dev libssh2-dev"
MAGPIE_APK_RUNTIME_COMMON="ca-certificates libssh2 openssl"
MAGPIE_APK_INTERACTIVE_COMMON="nano bash tree"

## #################################
## shared folders
## #################################

MAGPIE_DOCKER_SHARED_FOLDERS="ssl,load,conf.d,logs,data"
