### APACHE_COUCHDB ######################################################################################################

APACHE_COUCHDB_VERSION=3.2.6
APACHE_COUCHDB_DATA_VOLUME_DIR=/shared/data/etcd
APACHE_COUCHDB_BIN_DIR=/usr/local/sbin/
APACHE_COUCHDB_NAME=""

# BUILD_DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
# printenv | grep APACHE_COUCHDB