[client]
#password               = your_password
port                    = 3306
socket                  = /var/run/mysqld/mysqld.sock

# Here follows entries for some specific programs

# The MariaDB server
[mysqld]

skip-external-locking
skip_name_resolve
skip-host-cache

port                    = 3306


basedir                 = /usr/
datadir                 = /shared/data/mysql/db
tmpdir                  = /tmp

pid-file                = /var/run/mysqld/mysqld.pid
socket                  = /var/run/mysqld/mysqld.sock

key_buffer_size         = 128M
max_allowed_packet      = 512M
table_open_cache        = 3000
sort_buffer_size        = 64M
net_buffer_length       = 8K
read_buffer_size        = 64M
read_rnd_buffer_size    = 64M
myisam_sort_buffer_size = 8M

bind-address            = 0.0.0.0

# Point the following paths to different dedicated disks
#tmpdir                 = /tmp/

# Replication Master Server (default)
# binary logging is required for replication
log-bin=mysql-bin

# binary logging format - mixed recommended
binlog_format=mixed

# required unique id between 1 and 2^32 - 1
# defaults to 1 if master-host is not set
# but will not function as a master if omitted
server-id = 1

# Uncomment the following if you are using InnoDB tables
innodb_data_home_dir              = /shared/data/mysql/db
innodb_data_file_path             = ibdata1:10M:autoextend
innodb_log_group_home_dir         = /shared/data/mysql/db

# You can set .._buffer_pool_size up to 50 - 80 %
# of RAM but beware of setting memory usage too high

innodb_buffer_pool_size           = 800M

# Set .._log_file_size to 25 % of buffer pool size

innodb_log_file_size              = 64M
innodb_log_buffer_size            = 8M
innodb_flush_log_at_trx_commit    = 0
innodb_lock_wait_timeout          = 50
innodb_file_per_table             = ON

aria_log_dir_path                 = /shared/logs/mysql/
general_log_file                  = /shared/logs/mysql/mysql-general.log
general_log                       = 0

long_query_time                   = 2
slow_query_log                    = 1
slow_query_log_file               = /shared/logs/mysql/mysql-slow.log
log_queries_not_using_indexes     = 1

log_error                         = /shared/logs/mysql/mysql.log

[mysqldump]
quick
max_allowed_packet      = 512M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[myisamchk]
key_buffer_size = 128M
sort_buffer_size = 128M
read_buffer = 64M
write_buffer = 64M

[mysqlhotcopy]
interactive-timeout