### APACHE_HBASE ######################################################################################################

APACHE_HBASE_VERSION=1.2.6
APACHE_HBASE_DATA_VOLUME_DIR=/shared/data/etcd
APACHE_HBASE_BIN_DIR=/usr/local/sbin/
APACHE_HBASE_NAME=""

APACHE_HBASE_CONF_DIR=/shared/conf.d/
APACHE_HBASE_LOG_DIR=/shared/logs/hbase
APACHE_HBASE_TMP_DIR=/shared/data/hbase

APACHE_HBASE_HOME=/usr/local/hbase-${APACHE_HBASE_VERSION}
APACHE_HBASE_HADOOP_VERSION=2.7.3
APACHE_HBASE_HADOOP_HOME=/usr/local/hadoop-${APACHE_HADOOP_VERSION}

APACHE_HBASE_HADOOP_NAMENODE1_HOSTNAME=namenode-1.vnet
APACHE_HBASE_ROOT_DIR=hdfs://${HADOOP_NAMENODE1_HOSTNAME}:8020/hbase
APACHE_HBASE_HMASTER1_HOSTNAME=hmaster-1.vnet
APACHE_HBASE_REGIONSERVER1_HOSTNAME=regionserver-1.vnet
APACHE_HBASE_ZOOKEEPER_QUORUM=zookeeper-1.vnet,zookeeper-2.vnet,zookeeper-3.vnet

# BUILD_DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
# printenv | grep APACHE_HBASE_

