### MARIADB ############################################################################################################

MARIADB_VERSION=10.1.26
MARIADB_DATABASE=somedatbase
MARIADB_USER=admin_user
MARIADB_PASSWORD=mysecretpassword
MARIADB_PORT=3306
MARIADB_ROOT_PASSWORD=root
MARIADB_ENTRYPOINT_INITDB=./mariadb/docker-entrypoint-initdb.d
