### APACHE_PHOENIX ######################################################################################################

APACHE_PHOENIX_VERSION=4.11.0
APACHE_PHOENIX_VER=4.11
APACHE_PHOENIX_HBASE_VER=1.2

# BUILD_DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
# printenv | grep APACHE_PHOENIX_