### MEMCACHED ###########################################################################################################

MEMCACHED_VERSION=1.4.36
MEMCACHED_SHA1=519b417515206b0b95ff9bf14106a891f6a2252e
ZABBIX_HOSTNAME=memcached-app