### MYSQL ##############################################################################################################

MYSQL_VERSION=10
MYSQL_USER=admin_user
MYSQL_PASSWORD=mysecretpassword
MYSQL_DATABASE=somedatabase
MYSQL_ROOT_PASSWORD=mysecretpassword
MYSQL_PORT=3306
MYSQL_ENTRYPOINT_INITDB=./mysql/docker-entrypoint-initdb.d