### KRAKEND ##############################################################################################################

KRAKEND_VERSION=master
KRAKEND_PORT=8888
KRAKEND_USE_FAKEAPI=FALSE
KRAKEND_BASENAME=kraken

### vcs info
KRAKEND_VCS_URI="github.com/devopsfaith/krakend"
KRAKEND_VCS_BRANCH="master"
KRAKEND_VCS_DEPTH=1

KRAKEND_GOLANG_EXECUTABLES_DIR=/share/apps
KRAKEND_GOLANG_BUILD_BIN_SRC_DIR=/shared/apps/...

KRAKEND_BUILD_DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
# printenv | grep CRANE_

############################
# General APK deps lists
############################

### Golang 1.8
APK_BUILD_GOLANG="go git openssl ca-certificates libssh2 make"
APK_BUILD_GOLANG_CGO="gcc g++ musl-dev cmake"
APK_BUILD_GOLANG_TOOLS="go-tools"
APK_BUILD_GOLANG_CROSS="go-cross-darwin"
# go-cross-windows go-cross-freebsd go-cross-openbsd

# GOLANG_GOOS=linux
# GOLANG_GOARCH=amd64
# GOLANG_CGO_ENABLED=0
