### SQLMAP ##############################################################################################################

## #################################
## app vars
## #################################

SQLMAP_VERSION=1.1.8
SQLMAP_USER="sqlmap"

## #################################
## env vars
## #################################

SQLMAP_PY_VERSION_MAJOR=2
SQLMAP_PY_VERSION_MINOR=7
SQLMAP_PY_VERSION_PATCH=4
SQLMAP_PY_VERSION="${SQLMAP_PY_VERSION_MAJOR}.${SQLMAP_PY_VERSION_MINOR}.${SQLMAP_PY_VERSION_PATCH}"

## #################################
## custom packages
## #################################

SQLMAP_APK_RUNTIME_CUSTOM=""
SQLMAP_APK_RUNTIME_CUSTOM="bash"
SQLMAP_APK_INTERACTIVE_CUSTOM="jq"

## #################################
## common packages
## #################################

SQLMAP_APK_BUILD_COMMON="git coreutils gcc g++ musl-dev make openssl-dev libssh2-dev"
SQLMAP_APK_RUNTIME_COMMON="ca-certificates libssh2 openssl"
SQLMAP_APK_INTERACTIVE_COMMON="nano bash tree"

## #################################
## shared folders
## #################################

SQLMAP_DOCKER_SHARED_FOLDERS="ssl,load,conf.d,logs,data"
