### GITSOME ##############################################################################################################

## #################################
## app vars
## #################################

GITSOME_VERSION=0.7.0

## #################################
## github - credentials
## #################################

CONFIG_USER_LOGIN="someuser"
CONFIG_USER_PASS=""
CONFIG_USER_TOKEN=""
CONFIG_ENTERPRISE_URL=""
CONFIG_VERIFY_SSL=True
CONFIG_USER_FEED=https://github.com/someuser.private.atom?token=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX==

## #################################
## github - help references
## #################################

# https://github.com/donnemartin.private.atom?token=TOKEN

