### APACHE_DRILL ######################################################################################################

APACHE_DRILL_VERSION=3.2.6
APACHE_DRILL_HOME=/usr/local/apache-drill-${DRILL_VERSION}
APACHE_DRILL_CONF_DIR=/shared/conf.d
APACHE_DRILL_LOG_DIR=/shared/logs/drill
APACHE_DRILL_HEAP=4G
APACHE_DRILL_MAX_DIRECT_MEMORY=8G
APACHE_DRILL_BIT_MAX_PERM=512M
APACHE_DRILL_BIT_CODE_CACHE_SIZE=1G
APACHE_DRILL_CLUSTER_ID=drillbits1
APACHE_DRILL_ZOOKEEPER_QUORUM=localhost:2181

# BUILD_DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
# printenv | grep APACHE_DRILL_

