### ETCD ###########################################################################################################

ETCD_VERSION=3.2.6
ETCD_DATA_VOLUME_DIR=/shared/data/etcd
ETCD_BIN_DIR=/usr/local/sbin/