### KRAKEND ##############################################################################################################

KRAKEND_VERSION=head
KRAKEND_PORT=8888
KRAKEND_USE_FAKEAPI=FALSE

### vcs info
KRAKEND_VCS_URI="github.com/devopsfaith/krakend"
KRAKEND_VCS_BRANCH="master"
KRAKEND_VCS_DEPTH=1

# BUILD_DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
# printenv | grep CRANE_
