[core]
#logging_conf_file=../logging.cfg

[DEFAULT]
root_path: ../data
bucket: s3://dpa-template
raw_path: raw
data_path: data
etl_path: etl
tmp_path: tmp
metadata_path: metadata
group: research
application: magicloop-app
client: dpa-template
seed: 12345
validation_size: 0.3

[IrisPipeline]

[IrisData]

[LogisticRegressionTask]
model_name: LogisticRegression
C_logspacestart: -6
C_logspacestop: -1
C_logspacensamples: 10

[KNeighborsClassifierTask]
model_name: KNeighborsClassifier
n_neighborsStart: 2
n_neighborsStop: 10

[DecisionTreeClassifierTask]
model_name: DecisionTreeClassifier
criterion: gini,entropy
max_features: sqrt,log2,auto

[SVCTask]
model_name: SVC
C_logspacestart: -6
C_logspacestop: -1
C_logspacensamples: 10
kernel: linear,poly,rbf,sigmoid

[magicloopPipeline]

[RTask]

[PythonTask]

[PySparkTask]

[SqoopTask]

[HadoopTask]

[RawData]