

*_darwin_amd64
*_darwin_amd64_pro
*_linux_amd64
*_linux_386
*_windows_amd64.exe
*_windows_amd64_pro.exe

*.config.env

./shared/dist
./shared/dist/
./shared/dist/**

./shared/logs
./shared/logs/*
./shared/logs/*/
./shared/logs/*/**

./shared/data
./shared/data/*
./shared/data/*/
./shared/data/*/**

./shared/load
./shared/load/*
./shared/load/*/
./shared/load/*/**

*.csr
*.key
*.crt


