### NUT ############################################################################################################

# app
NUT_BASENAME="nut"
NUT_VERSION=master

### vcs info
NUT_VCS_URI="github.com/matthieudelaro/nut"
NUT_VCS_BRANCH="master"
NUT_VCS_DEPTH=1

# golang build
NUT_GOLANG_BUILD_BIN_SRC_DIR="\$(glide novendor)"

# BUILD_DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
# printenv | grep NUT_

############################
# General APK deps lists
############################

### Golang 1.8
APK_BUILD_GOLANG="go git openssl ca-certificates libssh2 make"
APK_BUILD_GOLANG_CGO="gcc g++ musl-dev cmake"
APK_BUILD_GOLANG_TOOLS="go-tools"
APK_BUILD_GOLANG_CROSS=""