### ETCD #################################################################################################################

ETCD_VERSION=3.2.6
ETCD_DATA_VOLUME_DIR=/shared/data/etcd
ETCD_BIN_DIR=/usr/local/sbin/
ETCD_NAME=""
ETCD_INITIAL_CLUSTER=""
ETCD_LISTEN_PEER_URLS=""
ETCD_LISTEN_CLIENT_URLS=""
ETCD_ADVERTISE_CLIENT_URLS=""
ETCD_INITIAL_CLUSTER_STATE=""
ETCD_INITIAL_CLUSTER_TOKEN=""
ETCD_INITIAL_CLUSTER=""
ETCD_INITIAL_ADVERTISE_PEER_URLS=""
ETCD_INITIAL_ADVERTISE_PEER_URLS=""

# printenv | grep ETCD

############################
# General APK deps lists
############################

### Golang 1.8
APK_BUILD_GOLANG="go git openssl ca-certificates libssh2 make"
APK_BUILD_GOLANG_CGO="gcc g++ musl-dev cmake"
APK_BUILD_GOLANG_TOOLS="go-tools"
APK_BUILD_GOLANG_CROSS="go-cross-darwin"
# go-cross-windows go-cross-freebsd go-cross-openbsd