### CRANE ############################################################################################################

# app global env
CRANE_ENV=.crane-env 
# CRANE_PREFIX=""
# CRANE_EXCLUDE=""
# CRANE_ONLY=""
# CRANE_CONFIG=""
# CRANE_HOOKED_CONTAINER=""
# CRANE_TAG=""

### vcs info
CRANE_VCS_URI="github.com/michaelsauter/crane"
CRANE_VCS_BRANCH="master"
CRANE_VCS_DEPTH=1

# BUILD_DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
# printenv | grep CRANE_

