### SEARX ############################################################################################################

## #################################
## app vars
## #################################

SEARX_VERSION=master
SEARX_USER=searx

## #################################
## webservice vars
## #################################

BASE_URL=False 
# eg. BASE_URL="https://domain.tld"
IMAGE_PROXY=False

## #################################
## env vars
## #################################

SEARX_PY_VERSION_MAJOR=3
SEARX_PY_VERSION_MINOR=6
SEARX_PY_VERSION_PATCH=2
SEARX_PY_VERSION=3.6.2

## #################################
## custom packages
## #################################

SEARX_APK_BUILD_CUSTOM="tree build-base libffi-dev openssl-dev libxslt-dev libxml2-dev openssl-dev python3-dev py3-pip"
SEARX_APK_RUNTIME_CUSTOM="make python3 libxml2 libxslt tini"
SEARX_APK_INTERACTIVE_CUSTOM="nano jq"

## #################################
## common packages
## #################################

SEARX_APK_BUILD_COMMON="git coreutils gcc g++ musl-dev make cmake openssl-dev libssh2-dev autoconf automake"
SEARX_APK_RUNTIME_COMMON="ca-certificates libssh2 openssl"
SEARX_APK_INTERACTIVE_COMMON="nano bash tree"

## #################################
## shared folders
## #################################

SEARX_DOCKER_SHARED_FOLDERS=ssl,load,conf.d,logs,data
