export HUBOT_LOG_LEVEL=debug

## Customize Following Values ##
## https://developer.ciscospark.com/add-bot.html ###
export BOT_NAME=spark-hubot
export SPARK_ROOM_NAME="spark-hubot-test"
export SPARK_WEBHOOK_NAME="spark-hubot-webhook-test"

## Fill in Following Values ##
export BOT_ID=
export SPARK_ACCESS_TOKEN=
export HUBOT_SPARK_ACCESS_TOKEN=
export WEBHOOK_URL=

## Will get Generated Via Script ###
export HUBOT_SPARK_ROOMS=
export SPARK_ROOM_ID=
export WEBHOOK_ID=

export HUBOT_SLACK_TOKEN=
export HUBOT_AUTH_ADMIN=

#export SHELL_ROLE=ops
#export SHELL_ROOM=ops
#export HUBOT_GITHUB_API=https://api.github.com
#export HUBOT_GITHUB_TOKEN=
#export HUBOT_DEPLOY_PREFIX=deploy
#export HUBOT_TRELLO_KEY=
#export HUBOT_TRELLO_TOKEN=
#export HUBOT_TRELLO_BOARD=




