### APACHE_ZOOKEEPER ###################################################################################################

APACHE_ZOOKEEPER_VERSION=3.4
APACHE_ZOOKEEPER_HOME=/usr/local/zookeeper-${APACHE_ZOOKEEPER_VERSION}
APACHE_ZOOKEEPER_DATA_DIR=/shared/data/zookeeper
APACHE_ZOOKEEPER_DATALOG_DIR=/shared/logs/zookeeper
APACHE_ZOOKEEPER_CONF_DIR=/shared/logs/conf.d

# BUILD_DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
# printenv | grep APACHE_ZOOKEEPER_
