### DEEPDETECT ###########################################################################################################

DEEPDETECT_VERSION=master
DEEPDETECT_PORT=8877
DEEPDETECT_THREADS=4
DEEPDETECT_MODE=${PROCESSOR_COMPUTATION_TYPE}
